<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TuReCtti</title>
</head>

<body class="abody">

    <div class="aconteinerr">
        <form id="aformulario">
            <div id="alogo"></div>
            <div class="mb-3 ls">

                <label for="exampleInputEmail1" class="form-label">E-mail</label>
                <input type="email" class="form-control aform-control" id="correo" placeholder="Inserisci Email">
            </div>
            <div class="mb-3 ls">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control aform-control" id="password"
                    placeholder="Inserisci Password">
            </div>
            <div class="abuttons">
                <button id="abt1" type="button" class="btn btn-dark">Login</button>
                <button id="abt2" type="button" class="btn ">Sign Up</button>
            </div>
        </form>
    </div>

</body>

</html>